{% extends 'base.twig' %}

{% block title %}{{ _("Categoría:") }} {{ categoria }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-primary text-center mb-4 fs-2">{{ _("Categoría:") }} {{ categoria }}</h1>
    <p class="text-secondary text-center mb-4 small">
        {{ _("En esta categoria encontraras todos los libros relacionados.") }}
    </p>

    <div class="row g-3">
        {% for libro in libros %}
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-6">
                <div class="card h-100 shadow-sm">
                    <a href="/libro/{{ libro.id }}" class="book-link">
                        <img src="{{ libro.imagen_url }}" class="card-img-topl img-fluid" alt="{{ libro.titulo }}">
                    </a>
                </div>
            </div>
        {% else %}
        <div class="col-12">
            <div class="alert alert-info text-center">
                <p class="mb-0">{{ _("No hay libros en esta categoría.") }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}