{% extends 'base.twig' %}

{% block title %}{{ libro.titulo }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-primary text-center mb-3">{{ libro.titulo }}</h1>

    <div class="row">
        <div class="col-md-4">
            <img src="{{ libro.imagen_url }}" class="img-fluid rounded shadow" alt="{{ libro.titulo }}">
        </div>
        <div class="col-md-8">
            <p><strong>Autor:</strong> {{ libro.nombre_autor }}</p>
            <p><strong>Categoría:</strong> {{ libro.nombre_categoria }}</p>
            <p><strong>Formato:</strong> {{ libro.formato }}</p>
            <p><strong>Número de páginas:</strong> {{ libro.num_paginas }}</p>
            <p><strong>Fecha de publicación:</strong> {{ libro.fecha_publicacion }}</p>
            <p><strong>Calificaciones:</strong> {{ libro.num_calificaciones }}</p>
            <p><strong>Reseñas:</strong> {{ libro.num_resenas }}</p>
            <p><strong>Descripción:</strong> {{ libro.descripcion }}</p>
            <a href="{{ libro.libro_url }}" class="btn btn-primary" target="_blank">Ver libro</a>
        </div>
    </div>
</div>
{% endblock %}
